<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_100px"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_100px"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApp">
        <activity
            android:name=".ui.graphs.LightLevelGraphActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.graphs.HumidityGraphActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.graphs.CO2GraphActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.graphs.TemperatureGraphActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>